
<div class="conteiner">
  <input
   type="text" class="search" placeholder="search"
   #search (keyup)="searchData(search.value)">
  <table class="table">
      <thead>
          <tr>
              <th>
                <div class="th">
                  <p>first name</p>  
                  <button 
                    (click)="sortUserList('firstName')" 
                    class="upOrDown">
                    <fa-icon *ngIf='(direction != "") && (sortName==="firstName")'
                      class="icon" 
                      [class.sort]='direction === "asc" && sortName==="firstName"'
                      [icon]='(direction === "asc") && (sortName==="firstName") ?faSortUp:faSortDown'
                      >
                    </fa-icon>     
                  </button> 
                </div>  
              </th>
              <th>
                <div class="th">
                  <p>last name</p>
                  <button (click)="sortUserList('lastName')" class="upOrDown">
                    <fa-icon *ngIf='direction != "" && sortName==="lastName"'
                      class="icon" 
                      [class.sort]='direction === "asc" && sortName==="lastName"'
                      [icon]='(direction === "asc") && (sortName==="lastName")?faSortUp:faSortDown'>
                    </fa-icon>       
                  </button>
                </div>
              </th>
              <th>
                <div class="th">
                  <p>age</p>
                  <button (click)="sortUserList('age')" class="upOrDown">
                    <fa-icon *ngIf='direction != "" && sortName==="age"'
                      class="icon" 
                      [class.sort]="isAge"
                      [icon]='(direction === "asc") && (sortName==="age")?faSortUp:faSortDown'>
                    </fa-icon>       
                  </button>
                </div>
              </th>
              <th class="th">
                <div class="th">
                  <p>address</p>  
                  <button (click)="sortUserList('address')" class="upOrDown">
                    <fa-icon *ngIf='direction != "" && sortName==="address"' 
                      class="icon" 
                      [class.sort]="isAddress"
                      [icon]='(direction === "asc") && (sortName==="address")?faSortUp:faSortDown'>
                    </fa-icon>       
                  </button> 
                </div> 
              </th> 
              <th>option</th>  
          </tr>
      </thead>
      <tbody>
          <tr class="tr" *ngFor="let user of usersList; let i =index" >
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.age}}</td>
              <td>{{user.address}}</td>
              <td>
                <button type="button" class="btn" (click)="delete(user)">
                  <fa-icon [icon]="faTrash" class="trash"></fa-icon>
                </button>
                
              </td>
          </tr>
      </tbody>
  </table>
  <app-user-form (addUser)="editUser($event)"></app-user-form>
</div>