
<div class="conteiner">
  <input
   type="text" class="search" placeholder="search"
   #search (keyup)="searchData(search.value)">
  <table class="table">
      <thead>
          <tr>
              <th>
                  first name
                <button (click)="sortFirstName()" class="upOrDown">
                  <fa-icon 
                    class="icon" 
                    [class.sort]="isFrst"
                    [icon]="isFrst?faSortUp:faSortDown">
                  </fa-icon>       
                </button>   
              </th>
              <th>
                  last name
                  <button (click)="sortLastName()" class="upOrDown">
                    <fa-icon class="icon" 
                      [class.sort]="isLast"
                      [icon]="isLast?faSortUp:faSortDown">
                    </fa-icon>       
                  </button>
              </th>
              <th>
                  age
                  <button (click)="sortAge()" class="upOrDown">
                    <fa-icon class="icon" 
                    [class.sort]="isAge"
                    [icon]="isAge?faSortUp:faSortDown">
                    </fa-icon>       
                  </button>
              </th>
              <th>
                  address
                  
                <button (click)="sortAddress()" class="upOrDown">
                  <fa-icon class="icon" 
                    [class.sort]="isAddress"
                    [icon]="isAddress?faSortUp:faSortDown">
                  </fa-icon>       
                </button>
                  
              </th> 
              <th>option</th>  
          </tr>
      </thead>
      <tbody>
          <tr class="tr" *ngFor="let user of usersList; let i =index" >
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.age}}</td>
              <td>{{user.address}}</td>
              <td>
                <button type="button" class="btn" (click)="delete(i)">
                  <fa-icon [icon]="faTrash" class="trash"></fa-icon>
                </button>
                
              </td>
          </tr>
      </tbody>
  </table>
  <app-user-form (addUser)="editUser($event)"></app-user-form>
</div>